body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    background-image: url(https://img.freepik.com/vetores-premium/fundo-claro-do-vetor-tons-de-cinza_149326-1604.jpg);
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

p {
    color: blue;
    background-color: yellow;
    font-family: monospace;
    text-align: justify;
    line-height: 20px; /* tamanho da altura de cada linha */
    letter-spacing: 3px; /* tamanho do espaço entre cada letra */
    word-spacing: 5px; /* tamanho do espaço entre cada palavra */
    text-indent: 30px; /* tamanho da margem da primeira linha do texto */
}

h1 {
    font-family: serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMugK41ss0ooGdfGUgGDNBzXdabF3H_wNVSA&usqp=CAU);
    border-top: 1px solid red; /* borda vermelha em cima */
    border-right: 1px solid red; /* borda vermelha à direita */
    border-bottom: 1px solid red; /* borda vermelha embaixo */
    border-left: 1px solid red; /* borda vermelha à esquerda */
    color: red;
}
  
h2 {
    font-family: sans-serif;
    background-color: rgb(255, 255, 0);
}